body {padding:2; margin:auto;background: white) ; background-attachment: fixed;}
body,textarea{
	font-size:12px;
    font-family:Tahoma;
	line-height:15px;
	valign:middle;
	padding:0px;
}
td, input{
	font-size:12px;
    font-family:Tahoma;
	line-height:15px;
	valign:middle;
	padding:0px;
}
.left {width:30%; text-align: top;}
.right {height:550px; width: 400px; text-align: top;}
.bottom {text-align: center;}
h1 {font-size:18px;font-family:Tahoma;valign:middle;}
h2 {text-align:center;font-size:14px;font-family:Tahoma;}




