

body {padding:2; margin:auto;background: white) ; background-attachment: fixed;}
body, td, input, textarea{
	font-size:12px;
        font-family:Tahoma;
	color:black;
	line-height:28px;
	vertical-align:top;
	padding:0px;
}
.left {background-color: rgb(58, 120, 182); width: 30%; text-align: top;}
.right {background-color: rgb(97, 157, 207); height: 550px; width: 400px; text-align: top;}
.bottom {background-color: rgb(24, 74, 134); text-align: center;}




