<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : spring.xml
    Created on : October 30, 2007, 6:30 PM
    Author     : Budoy Entokwa
    Description:
        Purpose of the document follows.
-->
    <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <bean id="springbean.SuccessfulLogin" class="springbean.SuccessfulLogin">
	<!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="CONFIG" class="springbean.AAAConfig">
	<property name="defaultProcess" value="springbean.HospitalDefaultProcess"/>
	<property name="local" value="true"/>
	<property name="singleUser" value="false"/>	
	<property name="host" value="http://server:8080/hospitalService/ServerServlet"/>
	<property name="pu" value="hospitalPU"/>
	<property name="bootStrap" value="bean.Patient"/>
	<property name="productName" value="HOSPITAL"/>
	<property name="module" value="Hospital"/>
	<property name="title" value="MedSoft"/>
    </bean>
</beans>